.config/nvim/lazy-lock.json
.zsh/powerlevel10k
.zsh/zsh-autosuggestions
.zsh/zsh-syntax-highlighting
.config/lazygit
.config/go/telemetry/local
.config/libreoffice/4
.config/herd-lite/bin
.config/composer
